.go_up_btn {
  position: fixed;
  z-index: 2;
  top: 90%;
  left: 95%;
  transform: translate(-50%,-50%);
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg,#03a9f4,#ffeb3b,#f441af,#03a9f4);
  background-size: 400%;
  border-radius: 50px; /* Rendi il bottone rotondo */
  z-index: 1;
  border: none;
  outline: none;
  /* position: relative; */
  /* z-index per far passare l'elemento sopra */
}

  
  button:hover {
    animation: animate 6s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  button::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#ffeb3b,#f441af,#03a9f4);
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
  }
  
  button:hover::before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 6s linear infinite;
  }