
body {
  min-height: 100vh;

  /* font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* display: block;  */
  /* align-items: center; */
  background-color: rgb(41, 38, 38);
}

#root {
  flex-grow: 1;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 38, 38);

}

.App {
  width: 100%;
  /* max-width: 800px; */
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
  background-color: rgb(41, 38, 38);
}
/* Stili per schermi di dimensioni inferiori a 600px */
@media screen and (max-width: 600px) {
  /* Stili specifici per schermi di piccole dimensioni */
}

/* Stili per schermi di dimensioni comprese tra 601px e 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Stili specifici per schermi di dimensioni medie */
}

/* Stili per schermi di dimensioni superiori a 1024px */
@media screen and (min-width: 1025px) {
  /* Stili specifici per schermi di dimensioni grandi */
}

